body {
    margin: 0;
    background-color: black;
    height: 1000px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:60px;
    display: flex;
    position: fixed;
}

.nav ul li {
    flex-direction: row;
    --c: rgb(255, 200, 0);
    color: rgb(211, 211, 211);
    font-size: 16px;
    border-radius: 0%;
    width: 5em;
    height: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    border-bottom: 1px solid var(--c);
    text-align: center;
}

.nav ul li span {
    border: none;
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(100%);
    border-radius: 0%;
    left: calc((var(--n) - 1) *25%);
    transition: 0.3s;
    transition-delay: calc((var(--n) - 1) * 0.08s);
    z-index: -1;
}


.nav ul li:hover{
    color: black;
}
.slider_button .fa-code{
    color:rgb(58, 214, 222);
}
.slider_button:hover{
    color: black;
}
.nav ul li:hover span {
    transform: translateY(0) scale(1);
}

.nav ul li span:nth-child(1) {
    --n: 1;
}

.nav ul li span:nth-child(2) {
    --n: 2;
}

.nav ul li span:nth-child(3) {
    --n: 3;
}

.nav ul li span:nth-child(4) {
    --n: 4;
}
 .slider_nav{
 display: none; 
}
#display-none,.display-none{
    display: none;
}
@media (max-width:768px) {
    .mobile_off{
        display: none;
        
    }

}
@media(min-width:768px){
    .pc_off{
        display: none;
        
    }
}



/* SİDE SLİDER */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    min-width: 100vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background: #523d3d;
}
.navigation{
    position: fixed;
    inset:50px 0 -10vh 0;
    width: 0px;
    min-height: 500px;
    background: rgb(107, 106, 101);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */

}
.nav_mobile{
    padding-left: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
.navigation.open{
    width: 100%;
    /* height: 100%; */
}
/*  */
.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 12vh;
    width: 190%;
    height: 100%;
    font-size: 32px;
}
.navigation ul li {
    /* border: 1px solid beige; */
    list-style: none;
    position: relative;
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.5s;
}
.navigation ul li.active{
    transform: translateX(30px);

}
.navigation.open ul li.active{
    transform: translateX(10px);
}

.navigation ul li a{
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 50px;
    line-height: 60px;
    color: #222;
    border-radius: 10px;
    font-size:16px;
    transition: 0.5s;
}
.navigation ul li.active a .icon{
    color: #222;
    background-color: (var--color);
}
.navigation ul li a .icon::before{
    content:'';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background:var(--color);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}
.navigation ul li.active a .icon::before{
    opacity: 0.5s;
}
.navigation ul li a .text{
    position: relative;
    padding: 0;
    height:10vh ;
    display: flex;
    align-items: center;
    color:#333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navigation.open ul li a .text{
    opacity: 1;
    visibility: visible;
}
.navigation ul li.active a.text{
    color:var(--color)
}
.text{
    font-size: 26px;
}
@media (min-wdith:768px)
    {
        .container .pc_off{
            display: none;
    }

}
@media (max-height:680px)
    {
        .navigation ul{
            gap: 10vh;
    }
    .navigation ul li{
        height: 10vh;
    }
}
@media (min-height:681px){     
    .navigation ul li{
    height: 8vh;
}
}
@media (max-height:570px){     
    .navigation ul li{
    height: 8vh;
    padding-top: 0;
}
}


/* mobile effect sidebar */
.container .navigation .list_items{
    list-style-type: none;
    padding-left: 32%;
    display: flex;
    position: fixed;
}
.container .navigation .list_items .list_item{
    flex-direction: row;
    --c: rgb(255, 200, 0);
    color: rgb(211, 211, 211);
    font-size: 16px;
    border-radius: 0%;
    width: 5em;
    height: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    border-bottom: 1px solid var(--c);
    text-align: center;
}
.container .navigation .list_items .list_item span{
    border: none;
    position: absolute;
    width: 25%;
    height: 80%;
    background-color: var(--c);
    transform: translateY(50%);
    border-radius: 0%;
    left: calc((var(--n) - 1) *55%);
    transition: 0.3s;
    transition-delay: calc((var(--n) - 1) * 0.08s);
    z-index: -1;
}
.list_item{
        /* background-color: red; */
    }
    .container .navigation .nav .list_items .list_item span{}